<!doctype html>
<html lang="en" data-bs-theme="dark">

	<head>
		<title>Aquaponics System Control</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
		
		<style>
			textarea {
				resize: none;
				width: 100%;
				height: 100%;
    			box-sizing: border-box;
			}
			#hcontainer > div
			{
				display: inline-block;
			}
		</style>
		<script>
			
			setInterval(process, 3000);
			process()

			function process() {
				fetch("/state")
					.then((response) => response.json())
					.then((data) => {
					// Reset loading indecators
					document.getElementById("ledtogglespinner")
						.style.display = "none";
					document.getElementById("pumptogglespinner")
						.style.display = "none";
					document.getElementById("systemtogglespinner")
						.style.display = "none";
					
					if (data.humidity != "") {
						document.getElementById("humidity_label")
							.innerHTML = data.humidity;
						document.getElementById("humidityspinner")
							.style.display = "none";
					} else {
						document.getElementById("humidityspinner")
							.style.display = null;
					}
					
					// Update buttons
					document.getElementById("systemtogglebutton")
						.checked = data.is_system_on;
					document.getElementById("ledtogglebutton")
						.checked = data.is_led_on;
					document.getElementById("pumptogglebutton")
						.checked = data.is_pump_on;
					
					// Update message log
					if (data.is_new_message) {
						fetch("/message")
							.then((response) => response.text())
							.then((data) => {
								document.getElementById("msg_log")
									.innerHTML = data;
							})
					}

					update_buttons()
				});
			}

			function post(to) {
				let response = fetch(to, {method: 'POST'})
					.then((response) => response.text())
					.then((data) => {
						if (data.toLowerCase() != "ok") {
							alert(data);
						}
					})
			}

			function led_off(){
				post("/led_off");
				document.getElementById("ledtogglebutton")
					.checked = false;
				document.getElementById("ledtogglespinner")
					.style.display = null;
			}

			function led_on(){
				if (document.getElementById("systemtogglebutton").checked) {
					post("/led_on");
					document.getElementById("ledtogglebutton")
						.checked = true;
					document.getElementById("ledtogglespinner")
						.style.display = null;
				} else {
					led_off()
				}
			}

			function pump_off(){
				post("/pump_off");
				document.getElementById("pumptogglebutton")
					.checked = false;
				document.getElementById("pumptogglespinner")
					.style.display = null;
			}

			function pump_on(){
				if (document.getElementById("systemtogglebutton").checked) {
					post("/pump_on");
					document.getElementById("pumptogglebutton")
						.checked = true;
					document.getElementById("pumptogglespinner")
						.style.display = null;
				} else {
					pump_off()
				}
			}

			function system_off(){
				post("/system_off");
				post("/led_off");
				post("/pump_off");
				document.getElementById("systemtogglebutton")
					.checked = false;
				document.getElementById("systemtogglespinner")
					.style.display = null;
				update_buttons()
			}

			function system_on(){
				post("/system_on");
				document.getElementById("systemtogglebutton")
					.checked = true;
				document.getElementById("systemtogglespinner")
					.style.display = null;
				update_buttons()
			}

			function update_buttons() {
				if (document.getElementById("systemtogglebutton").checked) {
					document.getElementById("ledtogglebutton")
						.disabled = false;
					document.getElementById("pumptogglebutton")
						.disabled = false;
				} else {
					document.getElementById("ledtogglebutton")
						.disabled = true;
					document.getElementById("pumptogglebutton")
						.disabled = true;
					document.getElementById("ledtogglebutton")
						.checked = false;
					document.getElementById("pumptogglebutton")
						.checked = false;
				}
			}

			function _on_system_toggled(checkbox) {
				if (checkbox.checked) {
					system_on();
				} else {
					system_off()
				}
			}

			function _on_led_toggled(checkbox) {
				if (checkbox.checked) {
					led_on();
				} else {
					led_off();
				}
			}

			function _on_pump_toggled(checkbox) {
				
				if (checkbox.checked) {
					pump_on();
				} else {
					pump_off();
				}
			}
		</script>
	</head>

	<body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		
		<div style="padding:10px;">
			<!-- MESSAGE LOG -->
			<h4>Message Log</h4>
			<textarea id="msg_log" name="msg_log" rows="8" cols="100" readonly>
			</textarea>

			<!-- HUMIDITY LABEL -->
			<div id="hcontainer">
				<div><h4>Humidity</h4></div>
				<div>
					<span id="humidity_label"></span>
					<div class="spinner-border spinner-border-sm m-0" role="status" id="humidityspinner">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
			</div>

			<!-- CONTROLS GROUP -->
			<div><h4>Controls</h4></div>
			<div class="input-group" role="group" aria-label="Controls button group">
			</div>

			<div class="input-group" role="group" aria-label="Controls button group">
				<!-- SYSTEM GRAPHICS -->
				<input type="checkbox" class="btn-check" id="systemtogglebutton" onclick="_on_system_toggled(this)">
				<label class="btn btn-outline-primary" for="systemtogglebutton">
					System
					<div class="spinner-border spinner-border-sm" role="status" id="systemtogglespinner">
						<span class="visually-hidden">Loading...</span>
					</div>
				</label>
				<!-- LED GRAPHICS -->
				<input type="checkbox" class="btn-check" id="ledtogglebutton" onclick="_on_led_toggled(this)">
				<label class="btn btn-outline-primary" for="ledtogglebutton">
					LED
					<div class="spinner-border spinner-border-sm" role="status" id="ledtogglespinner">
						<span class="visually-hidden">Loading...</span>
					</div>
				</label>
				<!-- PUMP GRAPHICS -->
				<input type="checkbox" class="btn-check" id="pumptogglebutton" onclick="_on_pump_toggled(this)">
				<label class="btn btn-outline-primary" for="pumptogglebutton">
					Pump
					<div class="spinner-border spinner-border-sm" role="status" id="pumptogglespinner">
						<span class="visually-hidden">Loading...</span>
					</div>
				</label>
				<div></div><!-- Extra div to make buttons square -->
			</div>
			
		</div>
	</body> 

</html>